@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100..900&display=swap');

:root {
    --color-light-sky: #bedfff5e;
    --color-dark-sky: #006ED9;
    --color-black: #000;
    --border-radius-12: 12px;
    --tag_h3_size: 20px;
    --tag_h5_size: 16px;
    --head-font-family2: Spartan;
    --heading-font-weight: 700;
    --heading-line-height: 30px;
    --heading-tag_h4_tab: 18px;
    --tag_h4_color: #6b6f76d6;
    --tag_p_size: 14px;
    --pre-font-family1: Sora;
    --pre-font-weight: 400;
    --pre-line-height: 20px;
    --disply-flex: flex;
    --border-type: solid;
    --border-size: 1px;
    --text-align: left;
    --white-color: #fff;
    --width-height: fit-content;
}

.formfile div div {
    height: 55px !important;
}

.formfile div div div input {
    padding: 12px;
}

.card-content {
    background-color: white;
    padding: 18px;
    border-radius: 14px;
}

input.search_input {
    border-radius: 12px;
    width: 100%;
    background: transparent;
}

input.search_input:focus-visible {
    outline-offset: 0px;
    outline: 0;
}

.design_h2 {
    font-size: 23px;
    font-weight: 600;
    font-family: Poppins;
    color: #000000b0;
}

.design_h2>span {
    color: var(--color-dark-sky);
}

.design_search_form {
    background: #002e791c;
    padding: 6px 16px;
    border-radius: 10px;
}

.Search_btn {
    background: var(--color-dark-sky);
    color: var(--white-color);
    padding: 6px 17px;
    border-radius: 10px;
}

.after-line::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    border-bottom: 1px solid;
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.border-medium.border-default-200.data-\[hover\=true\]\:border-default-400.group-data-\[focus\=true\]\:border-default-foreground.h-unit-10.min-h-unit-10.rounded-medium.transition-background.\!duration-150.transition-colors.motion-reduce\:transition-none {
    border: 0px;
    border-radius: 3px;
    border-bottom: 0px solid;
}

.contry label {
    border: 1px solid;
    margin-left: 0px;
}

.md-margin {
    margin: 1px;
}

.border-card {
    border-radius: 13px !important;
    border: 1px solid;
}

.design_h4 {
    font-size: var(--tag_h3_size);
    font-weight: var(--heading-font-weight);
    color: var(--color-dark-sky);
    line-height: var(--heading-line-height);

}

.apply_btn {
    background: #002e79;
    color: #fff;
    padding: 6px 17px;
    border-radius: 15px;
}

button.oraing_btn {
    padding: 7px 18px;
    background: radial-gradient(#f9a11f, #fcc410);
    /* gap: 3rem; */
    color: #fff;
    margin: 4px 9px;
    border-radius: 21px;
    font-family: 'Poppins';
    font-weight: 600;
}

button.oraing_btn:hover {
    padding: 7px 18px;
    background: radial-gradient(#fba71d, #f48225);
    /* gap: 3rem; */
    color: #fff;
    margin: 4px 9px;
    border-radius: 21px;
}

.course-list2 {
    padding: 9px 11px;
    box-shadow: 0 0 10px #002e792b;
    margin: 25px 0;
    border-radius: 15px;
    height: auto;
}

.design_clg_img>img {
    border-radius: 17px;
    width: 84%;
    padding: 7px 16px 1px 26px;
}

.grup_btn {
    margin: 6px 0 0 -8px;
}

.design_p_tag {
    font-size: 20px;
    padding: 11px 0;
}

/* coures css */
.page_headng {
    font-size: 25px;
    font-family: poppins;
    font-weight: 600;
    padding-top: 11px;
}

.desin_1st_col {
    background: #fff;
    /* text-align: -webkit-center; */
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px #1b438714;
    margin: 24px 0;
}

.h3_tag_design {
    font-size: 22px;
    text-align: left;
    line-height: 30px;
    color: #002e79;
    font-family: poppins;
    font-weight: 600;
    padding-top: 6px;
}

.design_h4_tag1 {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    font-family: 'Poppins';
    color: #132139cc;
    line-height: 26px;
    padding-top: 13px;
}

.design_h4_tag2 {
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    font-family: 'Poppins';
    color: #0f1827;
    line-height: 26px;
    padding-top: 13px;
}

.clg_img_icon {
    max-width: 100%;
    height: auto;
    width: 71px;
    padding-top: 7px;
}

.design_p_tag1 {
    font-size: 15px;
    line-height: 23px;
    color: #3f4143;
    font-family: Poppins !important;
}

.design_p_tag2 {
    font-size: 15px;
    line-height: 23px;
    color: #3f4143;
    font-family: Poppins !important;
    font-weight: 500;
    padding-bottom: 18px;
}

.design_tab_title>.shadow-small {
    --tw-shadow: var(--nextui-box-shadow-small);
    --tw-shadow-colored: var(--nextui-box-shadow-small);
    box-shadow: none;
}

.design_tab_title>.bg-background {
    --tw-bg-opacity: 1;
    background-color: #002e79;
    color: #fff !important;
}

.group[data-selected=true] .group-data-\[selected\=true\]\:text-default-foreground {

    font-family: Poppins !important;
    border-radius: 9px;
}

.design_tab_title>.text-default-500 {
    color: #002e79;
    font-family: Poppins !important;
    font-weight: 500;
}

.design_tab_title>.text-default-500 {
    color: #002e79;
    font-family: Poppins !important;
    font-weight: 500;
}

.design_btn {
    background: #002e79;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins';
}

.box_height {
    height: 90%;
}

.table_heading {
    font-size: 14px;
    font-family: 'Poppins';
}

.table_content {
    font-size: 15px;
    font-family: 'Poppins';
}


.design_p_tag1 * {
    font-size: 16px !important;
    color: #3f4143;
    font-family: Poppins !important;
}

.primary-btn {
    background-color: var(--color-dark-sky);
    box-shadow: none;
    color: var(--white-color);
    font-weight: bold;
    height: 40px;
}

.university_modal_css {
    border-radius: 15px
}

.ant-drawer-content-wrapper {
    padding: 15px;
}


:where(.css-dev-only-do-not-override-3rel02).ant-drawer-left>.ant-drawer-content-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: none;
}

.university_logo {
    height: 122px;
}

.small_img {
    padding: 7px;
    width: 94%;

}

.img_section {
    box-shadow: 0 0 10px #031a5873;
    padding: 13px;
    border-radius: 20px;
    margin: 30px 0;
}

.set_text_bg_header {
    color: var(--color-dark-sky);
    background-color: var(--color-light-sky);
    border-radius: var(--border-radius-12);
    padding: 3px 14px;
}

.bg-primary {
    background-color: var(--color-dark-sky);
}

.tag_h3_tab {
    font-family: var(--head-font-family2);
    font-size: var(--tag_h3_size);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    display: var(--disply-flex);
}

.tag_p_tab {
    font-family: var(--pre-font-family1);
    font-size: var(--tag_p_size);
    font-weight: var(--pre-font-weight);
    line-height: var(--pre-line-height);
}

.tag_h4_tab {
    font-family: var(--head-font-family2);
    font-size: var(--heading-tag_h4_tab);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    color: var(--tag_h4_color);
    padding: 10px 33px 0;
}

.tab_svg {
    height: 24px;
    width: 34px;
}

.tab_box1 {
    border-color: var(--tag_h4_color);
    border-style: var(--border-type);
    border-width: var(--border-size);
    border-radius: var(--border-radius-12);
    padding: 19px;
    margin: 0 32px;
}

.tab_box2 {
    border-color: var(--tag_h4_color);
    border-style: var(--border-type);
    border-width: var(--border-size);
    border-radius: var(--border-radius-12);
    padding: 0px 19px;
    margin: 0 32px;
}

.tab_box1>.tag_p_tab {
    padding-bottom: 18px;
}

.tab_box2>.tag_p_tab {
    padding-bottom: 18px;
}

.set_user_tag {
    padding: 0px 0 20px;
}

.set_user_tag>.bg-default {
    background-color: transparent;
    border-radius: 0px;
}

.set_user_tag>div>.text-small {
    font-family: var(--head-font-family2);
    font-size: var(--tag_h5_size);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    display: var(--disply-flex);
}

.set_user_tag>span>.object-cover {
    -o-object-fit: cover;
    object-fit: fill;
}

.set_user_tag>div>.text-tiny {
    font-family: var(--pre-font-family1);
    font-size: var(--tag_p_size);
    font-weight: var(--pre-font-weight);
}

.tag_h4_tab2 {
    font-family: var(--head-font-family2);
    font-size: var(--heading-tag_h4_tab);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
    color: var(--tag_h4_color);
}

.btn-University_c {
    height: var(--width-height);
    width: var(--width-height);
    background: var(--color-dark-sky);
    color: var(--white-color);
    margin: 39px 0 0 39px;
}

.Edit-program-btn {
    margin-top: 39px;
}

@media (min-device-width: 320px) and (max-device-width: 426px) {
    .navbar-fix>div {
        display: block;
    }

    .btn-University_c {
        margin: 0px 0 0 0px;
        font-size: 11px;
    }

    .design_clg_img>img {
        width: 72%;
        padding: 7px 0px 1px 56px;
    }

    .grid {
        display: block;
    }

    .design_search_form {
        margin: 0 0 16px;
    }

    .university_modal_css>.ant-drawer .ant-drawer-header {
        display: block !important;
    }

    .university_modal_css>.ant-drawer .ant-drawer-header>.ant-drawer-header-title {
        padding-bottom: 19px;
    }

    .card-content {
        background-color: white;
        padding: 7px 18px 18px 18px;
        border-radius: 14px;
        margin-top: 11px;
    }

    .ant-select-selector {
        margin: 12px 0px;
    }

    .Edit-program-btn {
        margin-top: 0;
    }
}

@media only screen and (min-device-width: 425px) and (max-device-width: 1024px) {

    .navbar-fix>div {
        display: block;
    }

    .btn-University_c {
        margin: 23px 0 0 0px;
        font-size: 11px;
    }

    .design_clg_img>img {
        width: 27%;
        padding: 7px 0px 1px 0px;
    }

    .design_h2 {
        font-size: 16px;
        margin-top: 9px;
    }

    .primary-btn {
        margin: 16px 0 0;
    }

    a.cursor-pointer.mt-2 {
        margin-top: 25px;
    }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1440px) {
    .btn-University_c {
        margin: 39px 0 0 23px;
        font-size: 9px;
    }

    .design_clg_img>img {
        width: 100%;
        padding: 18px 1px 1px 0px;
    }
}