@media (min-device-width: 320px) and (max-device-width: 760px) {

    .CommissionsTable {
        border: 0 !important;
    }

    .CommissionsTable caption {
        font-size: 1.3em;
    }

    .CommissionsTable thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }


    .CommissionsTable td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .CommissionsTable td::before {
        /*
        * aria-label has no advantage, it won't be read inside a .CommissionsTable
        content: attr(aria-label);
        */
        content: attr(data-column) !important;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 1.2 !important;
        text-align: left;
        margin: 14px 0 0 8px;

    }

    :is([dir="ltr"] .CommissionsTable thead tr th),
    :is([dir="ltr"] .CommissionsTable tfoot tr th),
    :is([dir="ltr"] .CommissionsTable tbody tr td) {
        text-align: end;
    }

    .CommissionsTable td:last-child {
        border-bottom: 0;
    }

    .before\:bg-default\/40::before {
        content: var(--tw-content);
        background-color: transparent !important;
    }

    .CommissionsTable>span::before {
        content: attr(data-column) !important;
    }

    .CommissionsTable td>div::before {
        content: attr(data-column) !important;
    }

    .commission .grid-cols-5 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}