@media screen and (min-device-width: 319px) and (max-device-width: 768px) {
    .Dashboard-header {
        font-size: 17px;
        line-height: 13.8px;
    }

    .Dash-Promotionalbtn {
        margin-top: 18px;
    }

    .dashboard_inner_page>.sidebar_aside {
        display: none;
    }

    .sidebar_link {
        font-size: 13px;
    }

    .phone_view_nav {
        padding-top: 30px;
    }

    .text-2xl {
        font-size: 17px;
        line-height: 12px;
        margin: 13px 0 0 0;
    }

    ol.flex.flex-wrap.list-none.rounded-small {
        display: none;
    }

    .grid-cols-3>.col-span-2 {
        grid-column: span 9 / span 2;
    }

    .col-span-1 {
        grid-column: span 3 / span 2;
    }

    a.relative.inline-flex.items-center.tap-highlight-transparent.outline-none.data-\[focus-visible\=true\]\:z-10.data-\[focus-visible\=true\]\:outline-2.data-\[focus-visible\=true\]\:outline-focus.data-\[focus-visible\=true\]\:outline-offset-2.text-medium.no-underline.hover\:opacity-80.active\:opacity-disabled.transition-opacity.text-blue-500 {
        font-size: 15px;
    }

    li.flex.flex-col.sm\:flex-row.justify-between.items-start.sm\:items-center.text-sm {
        border-bottom: 1px solid #80808038;
    }

    .relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.h-unit-10.min-h-unit-10.rounded-medium.transition-background.motion-reduce\:transition-none.\!duration-150.bg-secondary-50.text-secondary.data-\[hover\=true\]\:bg-secondary-100.group-data-\[focus\=true\]\:bg-secondary-50.placeholder\:text-secondary.outline-none.group-data-\[focus-visible\=true\]\:z-10.group-data-\[focus-visible\=true\]\:ring-2.group-data-\[focus-visible\=true\]\:ring-focus.group-data-\[focus-visible\=true\]\:ring-offset-2.group-data-\[focus-visible\=true\]\:ring-offset-background {
        background: #ffff;
    }

    .set_main_div_dashboard {
        margin-left: 0;
    }

    .col-span-6 {
        grid-column: span 9 / span 6;
    }

    .col-span-1 {
        grid-column: span 9 / span 2;
    }

    /* table  */
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 11px !important;
        text-align: right !important;
        line-height: 10px;
        color: #656565;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label) !important;
        font-weight: 600;
        opacity: 1.2 !important;
        text-align: left;
        font-size: 12px;
        color: #2b2b2b;
        background: transparent !important;
        padding: 10px;

    }

    .before\:bg-default\/40::before {
        background-color: hsl(0deg 0% 100% / 19%) !important;
    }

    table td:last-child {
        border-bottom: 0;
    }

    .bg-content1 {
        --tw-bg-opacity: 1;
        background-color: hsl(0deg 0% 100%);
        padding: 0 !important;
        border-radius: 0;
    }


    :is([dir="ltr"] table thead tr th),
    :is([dir="ltr"] table tfoot tr th),
    :is([dir="ltr"] table tbody tr td) {
        text-align: right;
        justify-content: end;
        display: flex;
    }

    .my-application>table>tbody>tr>td::before {
        content: attr(data-column) !important;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 1.2 !important;
        text-align: left;
        margin-top: 0px;
        font-size: 10px;
    }

    .my-application>table>tbody>tr>td>.text-sm {
        font-size: 10px;
    }

}


@media (min-device-width: 320px) and (max-device-width: 426px) {
    .staff-announcement>table>tbody>tr>td::before {
        content: attr(data-column) !important;
        font-weight: bold;
        text-transform: uppercase;
        opacity: 1.2 !important;
        text-align: left;
        margin-top: 0px;
        font-size: 10px;
    }

    .staff-announcement>table>tbody>tr>td>a {
        font-size: 10px;
    }

}

@media (min-device-width: 320px) and (max-device-width: 426px) {}