.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

button,
input,
optgroup,
select,
textarea {

    padding: 7px !important;
}

.design_modal_label {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    font-family: poppins;
}

.design_modal_label_check {
    margin-top: 5px;
}

.design_modal_check_box {
    font-size: 10px;
    font-weight: 400;
    line-height: 11px;
    color: #000;
    font-family: 'Poppins';
    padding: 20px 0 0;
}

.design_input {
    font-weight: 400;
    font-size: 13px;
    color: #5b5f65 !important;
    /* background: #e9edf3; */
    width: 100%;
    height: 42px;
    border-radius: 10px;
}

.Country_code_number_student {
    border: 1px solid #d9d9d9 !important;
    background: #ffffff;
    border-radius: 10px;
}

.css-16xfy0z-control {
    background-color: #fff !important;
}

.design_input>.css-13cymwt-control {
    font-weight: 400;
    font-size: 13px;
    color: #666 !important;
    background: #e9edf3;
    width: 100%;
    /* height: 42px; */
    height: fit-content;
    border-radius: 23px;
    border: none;
}

div#pr_id_3_header {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Poppins';
    color: #001c49;
}

.design_btn_submit {
    background: #006ED9;
    color: #fff;
    padding: 13px;
    height: 37px;
    width: 105px;
    border-radius: 22px;
    margin: 18px 12px 0 0px;
}

.design_btn_close {
    background: #9d121d;
    color: #fff;
    padding: 13px;
    height: 37px;
    width: 105px;
    border-radius: 22px;
    margin: 18px 12px 0 0px;
}

.contact-information-custom {
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Poppins';
    color: #001c49;
}

.custom-table {
    min-width: 75rem;
    width: 200%;
}

.p-paginator {
    justify-content: flex-start !important;
}

.modal-custom {
    justify-content: space-between;

}

.modal-btn-custom {
    background-color: #006ED9;
    padding: 7px 18px 7px !important;
    margin-bottom: 10px;
    /* margin-right: 10px; */
    font-family: 'Poppins';
    color: #fff;
    font-weight: 400 !important;
}

.modal-btn-custom>span {
    font-weight: 400;
    /* font-family: 'Poppins'; */
}

.student-heading {
    font-size: 30px;
    font-weight: 600;
    justify-content: start;
    margin-left: 10px;
}

.close-btn-custom {
    justify-content: space-between;
}

.contact-information-custom {
    font-weight: 600;
    font-size: 24px;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
    border-bottom: none !important;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::before {
    border-bottom: none !important;
    left: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    right: 0;
    -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
}

.css-1eed5fa-MuiInputBase-root-MuiInput-root::after {
    border-bottom: none !important;
}

.set_margin_bottom {
    margin-bottom: 35px;
}

.h3_tag {
    font-size: 15px;
    font-weight: 600;
}